@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 62.5%;
    overflow: hidden;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    /* background: linear-gradient(to right, #141e30, #243b55); */
    font-family: 'Poppins', sans-serif;
}
.nv {
  background: rgba(255, 255, 255, 0.2);
}
label{
  font-size: 0.75rem;
  font-weight: 600;
}
.container {
    background: rgba(255, 255, 255, 0.4);
    transform-style: preserve-3d;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    max-width: 40rem;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: .3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  color: #111;
  font-weight: 600;
}
textarea {
    resize: none;
    width: 100%;
    border-radius: .5rem;
    font-size: 1.3rem;
    padding: .5rem;
    outline: none;
    border: 2px solid rgb(55, 0, 158);
}
p {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(83, 0, 0);
    /* padding: .8rem; */
}
p #word, #char{
    color: #000000;
}
#word{
  margin-top: 0.5rem;
}
.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background: yellow; */
  margin: 0 3rem;
  width: 100%;
}
.btns .btn {
  position: relative;
  width: 95px;
  border: none;
  outline: none;
  padding: .6rem 0.3rem;
  border-radius: .2rem;
  font-size: 0.7rem;
  background: #161616;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.3);
  transition: .2s ease-out;
}
.btns .btn:active{
  top: 2px;
  left: 1px;
}
.btns .btn:nth-child(1),.btns .btn:nth-child(2),.btns .btn:nth-child(3){
  padding: .6rem 1.2rem;
}
.btns .btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}
.btns .btn.stop {
  background: #d40101;
  color: rgb(255, 255, 255);
}
.btns .btn.stop:hover {
  background: #940000;
  color: rgb(255, 255, 255);
}

@media screen and (max-width:480px) {
    html {
        font-size: 65%;
    }
    .btns{
      justify-content: space-evenly;
    }
}
@media screen and (max-width:768px) {
  html {
      font-size: 82.5%;
  }
  #extra{
    display: none;
  }
}
